{% extends 'admin/master.html' %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">Admin Dashboard</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Statistics</h3>
                    </div>
                    <div class="panel-body">
                        <!-- Add your statistics widgets or information here -->
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Recent Activity</h3>
                    </div>
                    <div class="panel-body">
                        <!-- Add recent activity logs or updates here -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
