<!-- In your book.html template -->
{% extends "layout.html" %}

{% block content %}
    <div class="container">
        <h1 class="mt-5 mb-4">{{ book.book_name }}</h1>
        <h3>{{ book.authors }}</h3>
        <h4>Rating: <span style="font-weight: bold; color: #388e3c;">{{ book.rating }}</span></h4>
        <img src="{{ book.link }}" class="img-fluid" alt="{{ book.book_name }}">
        <p>{{ book.description }}</p>
        <hr>
        <h2>Content:</h2>
        <!-- Link to view PDF on a separate page -->
        <p><a href="{{ url_for('view_pdf', book_id=book.id) }}">Click here to read the book</a></p>
    </div>
{% endblock %}
