{% extends "layout.html" %}

{% block content %}
    <div class="container">
        <h1 class="mt-5 mb-4">View Books</h1>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Section</th>
                </tr>
            </thead>
            <tbody>
                <!-- Loop through your books data and display each book -->
                {% for book in books %}
                <tr>
                    <td>{{ book.book_name }}</td>
                    <td>{{ book.authors }}</td>
                    <td>{{ book.rating }}</td>
                    <td>{{ book.section.name }}</td>
                    <td>{{ book.link }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
